.down-block-box{
	width: 240px;
	margin: 0 auto;
}

.down-block{
	height: 250px;
	background: black;
	margin: 0 auto;
}

.down-block-col{
	height: 250px;
	width: 60px;
	background: #ecf0f1;
	border: 1px solid black;
	overflow: hidden;
	position: absolute;
	display: flex;
	justify-content: center;
}

.block{
	width: 50px;
	height: 50px;
	font-size: 40px;
	color: white;
	font-family: '微软雅黑';
	background: red;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: -50px;
}

#down-block2{
 	margin-left: 60px;
}
#down-block3{
 	margin-left: 120px;
}
#down-block4{
	margin-left: 180px;
}